@media only screen and (max-width:350px) {
.index_main .il_ul li{    padding: 1.5rem 0; }
.index_main .index_msg{    top: 1.5rem;}
.index_main .is_pic img{width: 2.5rem;
    height: 2.5rem;}
.index_main .is_wrapper{    padding: 1.2rem 0 0.7rem 0;} 
.index_main .index_main{height: 27.1rem;}
.index_main .im_in{    margin-top: 0.2rem;}
.index_main .is_name{margin-top: 0.5rem;}
.index_main .iList_wrapper{    padding: 1.6rem 0 1.6rem 1.5rem;}
.index_main .iae_ul .ifirst_li{    padding: 1rem 0 1rem 1.5rem;}
.index_part .index_main{    height: 27rem;}
.index_part .index_right{    height: 27rem; }
}
@media only screen and (min-width: 400px) {
  .index_main .iList_wrapper{    padding: 1.8rem 0 1.8rem 1.5rem;}
}
.index_wrapper{position:absolute;    padding-bottom: 5rem;
    width: 100%;
    max-width: 640px;
    top: 0;
    height: 100%;}
.index_bg{    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;}
.index_add{    position: absolute;
    z-index: 1;
    right: 1.2rem;
    top: 1.5rem;
    width: 2.2rem;}
.index_msg{    color: #fff;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    padding: 0 1.5rem;
    position: absolute;
    top: 4.5rem;
    width: 100%;}
.im_outer{    overflow: hidden;}
.im_left{    float: left;
    font-size: 2rem;}
.im_left span{    font-size: 6rem;}
.im_right{     float: left;
    margin-left: 1.5rem;
    line-height: 2rem;}
.im_address{    margin-top: 1.7rem;}
.im_weather{}
.im_in{    margin-top: 1rem;}
.im_in span{}
.index_main{    position: absolute;    height: 31rem;    z-index: 2;    max-width: 640px;
    bottom: 6.5rem;
    width: 100%;
    padding: 0 0.7rem 0 7rem;}
.il_ul{    background: rgba(255,255,255,0.85);
    width: 6rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 1rem;
    border-radius: 8px;}
.il_ul li{    padding: 1.9rem 0;    position: relative;}
.il_ul li img{    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;}
.il_line{    position: absolute;
    width: 50%;
    height: 1px;
    background-color: #ccc;
    left: 25%;
    bottom: 0;}
.il_line_top{    position: absolute;
    width: 50%;
    height: 1px;
    background-color: #ccc;
    left: 25%;
    top: 0;}
.index_right{    height: 31rem; 
    overflow-y: auto;}
.ir_show{}
.is_ul{overflow:hidden;    color: #333;}
.is_ul li{    width: 50%;
    float: left;    position: relative;
    margin-bottom: 0.7rem;}
.is_detail{    width: 1.8rem;}
.is_pic{    margin-top: 0.1rem;}
.is_pic img{    width: 3rem;
    height: 3rem;
    object-fit: contain;}
.is_name{    margin-top: 0.7rem;    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.5rem;}
.is_statu{    margin-top: 0.2rem;    color: #999;}
.on .is_statu{color:#ff9c00;}
.index_separate{    padding-right: 1rem;
    border-right: 1px solid #fff;
    margin-right: 1rem;}
.il_pre{display:none;}
.is_wrapper{    background: rgba(255,255,255,0.85);
    margin-left: 0.8rem;
    border-radius: 8px;
    text-align: center;
    padding: 1.5rem 0 0.9rem 0;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;    position: relative;}
.is_detail_a{    display: inline-block;z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.4rem 0.9rem;}
.iae_ul{    letter-spacing: 0.1rem;}
.iae_ul li{    background-color: rgba(255,255,255,0.85);      overflow: hidden;  position: relative;
    margin-bottom: 0.7rem;
    border-radius: 7px;
    margin-left: 0.8rem;}
.iae_ul .ifirst_li{    padding: 1.2rem 0 1.2rem 1.5rem;}
.ih_name{    font-size: 1.6rem;}
.index_eq_pic{    float: left;
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    object-position: center center;}
.ih_num{color: #999;
    margin-top: 0.5rem;}
.ie_float{    float: left;
    margin-left: 1rem;}
.index_eq{font-size: 1.4rem;}
.index_eq_state{    font-size: 1.2rem;
    color: #999;
    margin-top: 0.2rem;}
.index_house{    position: absolute;    object-fit: cover;
    z-index: 11;
    left: 2rem;
    top: 1rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 1px solid #fff;}
.change_house{    position: absolute;
    z-index: 12;
    background-color: #fff;
    width: 17rem;
    top: 6.5rem;
    left: 1.5rem;
    border-radius: 8px;}
.house_triangle{    position: absolute;
    top: -0.8rem;
    left: 1.3rem;}
.ch_title{     margin: 1rem 1.5rem;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;}
.ch_ul{}
.ch_ul li{    position: relative;
    padding: 0 0 0 5.5rem;
    height: 5rem;
    border-bottom: 1px solid #f2f2f2;
    line-height: 5rem;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;}
.ch_ul li:nth-last-child(1){
	    border-bottom-left-radius: 8px;
	    border-bottom-right-radius: 8px;
}
.ch_li_pic{    position: absolute;
    left: 1rem;
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
    top: 0.8rem;}
.house_box_bg{    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    z-index: 10;}
.ch_ul .on{background-color:#e5e5e5;}
.index_door{    margin: 2.5rem 0 3rem;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;}
.index_door input{    text-align: center;
    height: 5rem;
    width: 100%;
    border: none;
    font-size: 2.2rem;
    letter-spacing: 0.1rem;}
.index_no_login{    margin-left: 1rem;
    background-color: rgba(255,255,255,0.85);
    line-height: 10rem;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    border-radius: 7px;}
.login_add{    width: 1.8rem;
    margin-right: 0.8rem;
    vertical-align: middle;
    margin-top: -0.2rem;
	
}
.iList_wrapper{    position: relative;
    overflow: hidden;
    padding: 2.2rem 0 2.2rem 1.5rem;}
.door_main{    margin-top: -15rem;}